.sideImage {
  height: 80px;
  width: 76px;
  background-color: #fff9e5;
}

.mainImage {
  height: 391px;
  width: 481px;
  background-color: #fff9e5;
}
.productId {
  border-left: 1px solid black;
  padding-left: 20px;
}

.heading {
  font-size: 42px;
  font-weight: 400;
  line-height: 63px;
}
.Detailprice {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: #9f9f9f;
}

.reviews {
  font-size: 13px;
  font-weight: 400;
  line-height: 19.5px;
  color: #9f9f9f;
  padding-left: 20px;
  border-left: 1px solid #9f9f9f;
}

.description {
  font-size: 13px;
  font-weight: 400;
  line-height: 19.5px;
}

/* // size and color */
.size {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #9f9f9f;
}

.sizeSelected {
  background-color: #fbebb5;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 13px;
  font-weight: 400;
  line-height: 19.5px;
  cursor: pointer;
}

.sizeOptions {
  background-color: #faf4f4;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 13px;
  font-weight: 400;
  line-height: 19.5px;
  cursor: pointer;
}

.color {
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.purple {
  background-color: #816dfa;
  border-radius: 50%;
}

.black {
  background-color: #000;
  border-radius: 50%;
}
.peach {
  background-color: #cdba7b;
  border-radius: 50%;
}

.counter { 
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid #9f9f9f;
  border-radius: 5px;
  background-color: #9f9f9f;
  height: 45px;
  padding-top: 10px !important;
  padding: 2px;
}

.counterButton{
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}


.AddtocartButton{
  background-color: #9f9f9f;
  border: 1px solid #9f9f9f;
  border-radius: 5px;
  padding: 5px 10px;
  /* width: 215px; */
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  cursor: pointer;
}
.AddtocartButton:hover , .AddtocartButton:active{
  box-shadow: 0 0 5px #9f9f9f;
  background-color: #000;
  color: #9f9f9f;
}

.otherdetails {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #9f9f9f;
}

.descriptionHeading {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  color: #9f9f9f;
}

.sofaImages {
  background-color: #fff9e5;
  width: 45%;
}

@media (max-width: 1199px) {
  .sideImage {
    height: 75px;
    width: 70px;
    background-color: #fff9e5;
  }

  .mainImage {
    height: 350px;
    width: 400px;
    background-color: #fff9e5;
  }
}

@media (max-width: 992px) {
  .sideImage {
    height: 60px;
    width: 50px;
    background-color: #fff9e5;
  }

  .mainImage {
    height: 300px;
    width: 300px;
    background-color: #fff9e5;
  }
  .productId {
    border-left: 1px solid black;
    padding-left: 20px;
  }
  
  .heading {
    font-size: 32px;
    font-weight: 400;
    line-height: 50px;
  }
  .Detailprice {
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
    color: #9f9f9f;
  }
  
  .reviews {
    font-size: 13px;
    font-weight: 400;
    line-height: 19.5px;
    color: #9f9f9f;
    padding-left: 20px;
    border-left: 1px solid #9f9f9f;
  }
  
  .description {
    font-size: 12px;
    font-weight: 400;
    line-height: 19.5px;
  }
  
  /* // size and color */
  
  
  .sizeSelected {
    background-color: #fbebb5;
    border-radius: 5px;
    padding: 5px 7px;
    font-size: 13px;
    font-weight: 400;
    line-height: 19.5px;
  }
  
  .sizeOptions {
    background-color: #faf4f4;
    border-radius: 5px;
    padding: 5px 7px;
    font-size: 13px;
    font-weight: 400;
    line-height: 19.5px;
  }
  
  .color {
    height: 25px;
    width: 25px;
  }
  
  
 
  
  .AddtocartButton{
    background-color: #9f9f9f;
    border: 1px solid #9f9f9f;
    border-radius: 5px;
    padding: 5px 10px;
    /* width: 215px; */
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }
  .AddtocartButton:hover , .AddtocartButton:active{
    box-shadow: 0 0 5px #9f9f9f;
  }
  
  .otherdetails {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #9f9f9f;
  }
  
  .descriptionHeading {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    color: #9f9f9f;
  }
  
 
}

@media (max-width: 768px) {
  .sideImage {
    height: 75px;
    width: 100px;
    background-color: #fff9e5;
  }

  .mainImage {
    height: 350px;
    width: 400px;
    background-color: #fff9e5;
  }

  .productId {
    border-left: 1px solid black;
    padding-left: 20px;
  }
  
  .heading {
    font-size: 36px;
    font-weight: 400;
    line-height: 50px;
    margin-top: 10px;
  }
  .Detailprice {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: #9f9f9f;
  }
  
  .reviews {
    font-size: 13px;
    font-weight: 400;
    line-height: 19.5px;
    color: #9f9f9f;
    padding-left: 20px;
    border-left: 1px solid #9f9f9f;
  }
  
  .description {
    font-size: 13px;
    font-weight: 400;
    line-height: 19.5px;
  }
  
  /* // size and color */
  .size {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #9f9f9f;
  }
  
  .sizeSelected {
    background-color: #fbebb5;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 13px;
    font-weight: 400;
    line-height: 19.5px;
  }
  
  .sizeOptions {
    background-color: #faf4f4;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 13px;
    font-weight: 400;
    line-height: 19.5px;
  }
  
  .color {
    height: 30px;
    width: 30px;
  }
 
  
  .otherdetails {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #9f9f9f;
  }
  
  .descriptionHeading {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    color: #9f9f9f;
  }
  
  .sofaImages {
    background-color: #fff9e5;
    width: 100%;
    margin: 10px;
  }
}

@media (max-width: 575px) {
  .sideImage {
    display: none;
  }

  .mainImage {
    height: 270px;
    width: 100%;
    background-color: #fff9e5;
  }

  .productId {
    border-left: 1px solid black;
    padding-left: 20px;
  }
  
  .heading {
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    margin-top: 10px;
  }
  
  
  .reviews {
    font-size: 15px;
    font-weight: 400;
    line-height: 19.5px;
    color: #9f9f9f;
    padding-left: 20px;
    border-left: 1px solid #9f9f9f;
  }
  
  .description {
    font-size: 14px;
    font-weight: 400;
    line-height: 19.5px;
  }
  .counter { 
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid #9f9f9f;
    border-radius: 5px;
    background-color: #9f9f9f;
    height: 45px;
    padding-top: 10px !important;
    padding: 3px;
  }
  
  .counterButton{
    font-size: 25px;
    font-weight: 600;
  }
  
  .otherdetails {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #9f9f9f;
  }
  
  
  
  .descriptionHeading {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: #9f9f9f;
  }
  

}
